# Build directory
build/
/build*/

# IDE specific files
.vscode/
*.code-workspace
.idea/
*.swp
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt specific
*.pro.user
*.pro.user.*
*.qmake.stash
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.qm
.qmake.cache
.qmake.stash

# CMake specific
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Database credentials and API keys
*.env
config.ini

# OS specific
.DS_Store
.directory
.Trash-*
